@font-face {
   font-family: "HelveticaNowText Regular";
   src: url("fonts/HelveticaNowText-Regular.woff") format("woff"), url("fonts/HelveticaNowText-Regular.eot") format("embedded-opentype"), url("fonts/HelveticaNowText-Regular.ttf") format("truetype"), url("fonts/HelveticaNowText-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Blockletter";
   src: url("fonts/Blockletter.woff") format("woff"), url("fonts/Blockletter.eot") format("embedded-opentype"), url("fonts/Blockletter.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "BD Negative";
   src: url("fonts/BD Negative.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "HelveticaNowText Medium";
   src: url("fonts/HelveticaNowText-Medium.woff") format("woff"), url("fonts/HelveticaNowText-Medium.eot") format("embedded-opentype"), url("fonts/HelveticaNowText-Medium.ttf") format("truetype"), url("fonts/HelveticaNowText-Medium.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Bebas Neue Bold";
   src: url("fonts/BebasNeueBold.woff") format("woff"), url("fonts/BebasNeueBold.eot") format("embedded-opentype"), url("fonts/BebasNeueBold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "HelveticaNowText Bold";
   src: url("fonts/HelveticaNowText-Bold.woff") format("woff"), url("fonts/HelveticaNowText-Bold.eot") format("embedded-opentype"), url("fonts/HelveticaNowText-Bold.ttf") format("truetype"), url("fonts/HelveticaNowText-Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "HelveticaNowText Light";
   src: url("fonts/HelveticaNowText-Light.woff") format("woff"), url("fonts/HelveticaNowText-Light.eot") format("embedded-opentype"), url("fonts/HelveticaNowText-Light.ttf") format("truetype"), url("fonts/HelveticaNowText-Light.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}